{% extends "common.html" %}

{% block title %}
 - Autonomous
{% endblock title %}

{% block extra_body_top %}
<div class="container text-center">
    <button type="button" class="p-10 btn btn-danger mb-2" id="goAuto">Go Autonomous</button>
</div>
{% endblock extra_body_top %}

{% block feed_col %}"col-auto"{% endblock feed_col %}

{% block Detection_status %}
<div class="row">
    <div class="col rounded bg-primary text-white mx-3">
        <p class="mt-1"><b>Detection Status:</b></p>
        <p class="text-center" style="font-size:1.2rem">Left Arrow</p>
    </div>
</div>
{% endblock Detection_status %}

{% block addGPS %}
<tr>
    <th scope="row">Next Location</th>
    <td id="nextGPS">41°24'12.2"N 2°10'26.5"E</td>
</tr>
<tr>
    <th scope="row">Add Location</th>
    <td>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="GPS Latitude" aria-label="GPS Coordinates" aria-describedby="btnAddGPS" id="addGpsLat">
            <input type="text" class="form-control" placeholder="GPS Longitude" aria-label="GPS Coordinates" aria-describedby="btnAddGPS" id="addGpsLon">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="btnAddGPS">Add</button>
            </div>
        </div>
    </td>
</tr>
{% endblock addGPS %}

{% block listOfLocations %}
<div class="col">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr><th scope="col">Location</th></tr>
            </thead>
            <tbody id="locationTable"></tbody>
        </table>
    </div>
{% endblock listOfLocations %}

{% block extra_javascripts %}
<script src="static/js/autonomous.js"></script>
{% endblock extra_javascripts %}